body {
  font-size: 16px;
  line-height: 1.375; }

h1 {
  font-size: 32px;
  line-height: 1.25; }

h2 {
  font-size: 26px;
  line-height: 1.15384; }

h3 {
  font-size: 22px;
  line-height: 1.13636; }

.container1 {
  display: flex;
  align-content: center;
  flex-direction: column;
  background-image: url("../../images/img1.jpg");
  background-size: 100% 22rem;
  background-repeat: no-repeat;
  object-fit: cover;
  padding: 0.5rem;
  background-size: cover; }

.container1 h1 {
  margin-top: 1rem;
  padding: 0.1rem;
  text-align: center;
  color: #021433;
  font-weight: 600; }

.container1 p {
  text-align: center;
  padding: 0.5rem 0.2rem;
  color: #021433;
  font-size: 1.2rem;
  margin-bottom: 1.5rem; }

.container1 .input1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem; }

.container1 .input1 .input_container {
  align-self: center;
  display: flex;
  flex-direction: row;
  height: 3rem;
  margin-bottom: 0.3rem; }

.container1 .input1 .input_container i {
  background-color: white;
  padding: 0.9rem; }

.container1 .input1 .input_container img {
  background-color: white;
  height: 1.1rem;
  width: 1.1rem;
  padding: 0.95rem;
  border: none; }

.container1 .input1 .input_container input {
  border: none;
  outline: none;
  width: 15rem; }

.container1 .input1 .input_container2 {
  align-self: center;
  height: 3rem;
  margin-top: 0.3rem; }

.container1 .input1 .input_container2 input {
  width: 20.5rem;
  height: 3rem;
  padding-left: 0.5rem;
  outline: none;
  border: none; }

.container1 .input1 button {
  align-self: center;
  width: 10rem;
  height: 3rem;
  margin-top: 1.3rem;
  margin-bottom: 2rem;
  background-color: #021433;
  border: none;
  color: white; }

.container2 {
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 100hw;
  padding: 1rem; }

.container2 h2 {
  margin-top: 1.3rem;
  padding-bottom: 0.5rem;
  text-align: center;
  color: #021433;
  font-weight: 550; }

.container2 p {
  text-align: center;
  padding: 0.5rem 0.1rem;
  color: #021433;
  font-size: 1rem;
  margin-bottom: 1rem; }

.container2 .screen_container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center; }

.container2 .screen_container .button_container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  margin: 0rem 0.8rem;
  align-content: center;
  padding-bottom: 2rem; }

.container2 .screen_container .button_container .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; }

.container2 .screen_container .button_container .content .number {
  font-size: 28px;
  color: #cccccc;
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.container2 .screen_container .button_container .content .head {
  font-size: 22px;
  color: #cccccc;
  margin-left: 1rem; }

.container2 .screen_container .button_container button {
  align-self: center;
  background-color: white;
  border: 1px solid #cccccc;
  color: #cccccc;
  border-radius: 5px;
  padding: 2px 5px;
  text-align: left;
  margin: 0.2rem;
  padding: 0.8rem;
  height: 5rem;
  width: 90%;
  outline: none; }

.container2 .screen_container .button_container .para {
  display: flex;
  flex-direction: column;
  align-items: center; }

.container2 .screen_container .button_container button:focus {
  margin-bottom: 1rem;
  border: 2px solid #021433; }

.container2 .screen_container .button_container button:focus .content .number {
  color: #0099ff; }

.container2 .screen_container .button_container button:focus .content .head {
  color: #021433; }

.container2 .screen_container .button_container .para h2 {
  text-align: center;
  color: #021433;
  margin: 0.3rem; }

.container2 .screen_container .button_container .para p {
  color: #021433; }

.container2 .screen_container .button_container .para img {
  align-self: center;
  width: 18rem;
  height: 18rem; }

.container2 .screen_container .image_container {
  display: none; }

.container2 .screen_container .image_container p {
  color: #021433; }

.container2 .screen_container .image_container img {
  height: 20rem;
  width: 20rem;
  align-self: center; }

.container3 {
  display: flex;
  background-color: #021433;
  color: white;
  flex-direction: column;
  padding: 1rem;
  width: 100hw;
  padding-bottom: 2rem; }

.container3 h2 {
  margin-top: 1.3rem;
  font-weight: 550;
  padding: 0.5rem;
  text-align: center; }

.container3 p {
  color: white;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-bottom: 1rem; }

.container3 .images {
  display: flex;
  flex-direction: column; }

.container3 .images .img_container {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #0099ff;
  margin: 1rem;
  box-shadow: 0 0.3rem #a8dafc;
  padding-bottom: 1rem; }

.container3 .images .img_container img {
  object-fit: cover;
  height: 25rem; }

.container3 .images .img_container h3::before {
  content: "";
  border-bottom: 2px solid #0099ff;
  height: 0.6rem;
  width: 2rem;
  margin-right: 5px;
  margin-left: 0rem;
  padding-left: 0%; }

.container3 .images .img_container h3 {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  text-align: left;
  font-weight: 550; }

.container3 .images .img_container p {
  margin: 0rem;
  text-align: left;
  color: #021433;
  padding-bottom: 0rem;
  font-size: 1rem;
  padding-left: 2rem; }

.container4 {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #021433;
  padding: 1rem; }

.container4 h2 {
  font-weight: 550;
  margin-top: 1rem;
  padding: 0.5rem;
  text-align: center; }

.container4 p {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0.5rem; }

.container4 .images {
  display: flex;
  flex-direction: column;
  padding: 1rem; }

.container4 .images .img_container {
  display: flex;
  flex-direction: column;
  height: 22rem;
  background-size: cover;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0rem 2rem;
  margin: 0.5rem 1rem;
  background-position: 30% 60%; }

.container4 .images .img_container.image-2 {
  background-image: linear-gradient(to bottom, transparent, #010916 95%), url("../../images/image--009.jpg"); }

.container4 .images .img_container.image-1 {
  background-image: linear-gradient(to bottom, transparent, #010916 95%), url("../../images/image--010.jpg"); }

.container4 .images .img_container.image-3 {
  background-image: linear-gradient(to bottom, transparent, #010916 95%), url("../../images/image--008.jpg"); }

.container4 .images .img_container.image-4 {
  background-image: linear-gradient(to bottom, transparent, #010916 95%), url("../../images/image--011.jpg"); }

.container4 .images .img_container.image-5 {
  background-image: linear-gradient(to bottom, transparent, #010916 95%), url("../../images/image--007.jpg"); }

.container4 .images .img_container h4 {
  color: white;
  padding-bottom: 0.5rem;
  font-weight: 520; }

.container4 .images .img_container p {
  color: white; }

/* .container4 .images .new_imageContainer{
    display: grid;
    padding:60pt;
    grid-template-columns: 25% 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 25%;  
    
    grid-template-rows: 10% 300pt 250pt 10%;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    background-size: cover;  
    justify-content: flex-end;
    align-items: flex-start;
    
    margin : 0.5rem 1rem;
    background-position: 30% 60%;
}
.container4 .images .new_imageContainer div img{
    height: 100%;
    width: 100%;;
}
.container4 .images .new_imageContainer.image-2{
    grid-area: image-2;
      grid-column:2/5;
      grid-row: 2/3;
    background-image: linear-gradient(to bottom, transparent,rgb(1, 9, 22 )95%), url('images/image--009.jpg');
}
.container4 .images .new_imageContainer.image-1{
    grid-area: image-1;
      grid-column:5/8;
      grid-row: 2/3;
    background-image: linear-gradient(to bottom, transparent,rgb(1, 9, 22 )95%), url('images/image--010.jpg');
}
.container4 .images .new_imageContainer.image-3{
    grid-area: image-3;
      grid-column:8/11;                                          
      grid-row: 2/3;
    background-image: linear-gradient(to bottom, transparent,rgb(1, 9, 22 )95%), url('images/image--008.jpg');
}
.container4 .images .new_imageContainer.image-4{
    grid-area: image-1;
      grid-column:2/4;
      grid-row: 3/4;
    background-image: linear-gradient(to bottom, transparent,rgb(1, 9, 22 )95%), url('images/image--011.jpg');
}
.container4 .images .new_imageContainer.image-5{
    grid-area: image-2;
      grid-column:4/7;
      grid-row: 3/4;
    background-image: linear-gradient(to bottom, transparent,rgb(1, 9, 22 )95%), url('images/image--007.jpg');
} */
.container5 {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #021433;
  padding: 1rem; }

.container5 h2 {
  font-weight: 550;
  margin-top: 1rem;
  padding: 0.5rem;
  text-align: center; }

.container5 p {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  margin: 0.5rem; }

.container5 .logos_container {
  align-self: center;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  margin: 2rem;
  grid-gap: 1.2rem; }

.container5 .logos_container .element {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 10rem;
  background: #e1e0e2f1;
  border-radius: 8px; }

.container5 .logos_container .element button {
  border: none;
  align-content: center;
  background: none;
  outline: none; }

.container5 .logos_container .element p {
  align-self: center;
  font-weight: 520;
  color: #8d8787; }

/* .container6{
    display: flex;
    flex-direction: column;
    background-color: #8fcaf1;
    padding: 2rem 1.5rem;
    color: #021433;
    text-align: center; 
}
.container6 .text{
    display: flex;
    flex-direction: column;
}
.container6 .text h2{
    color: white;
    font-weight: 550;
    margin: 0.3rem;
    margin-bottom: 0.5rem;
}
.container6 button{
    background-color: #0099ff;
    width: 15rem;
    height: 4rem;
    color: white;
    border: none;
    align-self: center;
    margin: 1rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
} */
@media only screen and (max-width: 350px) {
  .container1 .input_container input {
    width: 12rem; }

  .container1 .input_container2 input {
    width: 17.3rem; }

  .container2 .screen_container .button_container button {
    width: 17rem; }

  .container2 .screen_container .image_container {
    display: none; }

  .container4 .img_container {
    background-position: 40% 60%; } }
@media only screen and (min-width: 760px) and (max-width: 1025px) {
  .container2 .screen_container .button_container img {
    align-self: center;
    width: 20rem;
    height: 20rem; }

  .container2 .screen_container .button_container button {
    align-self: center;
    width: 80%;
    height: 5rem; }

  .container2 .screen_container .image_container img {
    align-self: center;
    width: 22rem;
    height: 22rem; }

  .container2 .screen_container .button_container .content .number {
    font-size: 22px; }

  .container2 .screen_container .button_container .content .head {
    font-size: 20px; }

  .container2 .screen_container .image_container {
    display: block; }

  .container2 .screen_container .button_container .para {
    display: none; }

  .container3 .images {
    display: grid;
    grid-template-columns: 50% 50%; }

  .container3 .images .img_container img {
    height: 20rem; }

  .container4 .images {
    display: grid;
    grid-template-columns: 50% 50%; }

  .container5 .logos_container {
    grid-template-columns: auto auto auto;
    grid-column-gap: 3rem; }

  /* .container6{
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      padding-left: 7%;
      padding-right: 7%;
  }
  .container6 .text{
      text-align: left;    
  }
  .container6 .text h2{
      font-size: 30px;
  } */ }
@media only screen and (min-width: 1000px) {
  .container1 {
    padding: 8% 6%; }

  .container1 h1 {
    text-align: left;
    font-size: 2.5rem; }

  .container1 p {
    text-align: left;
    font-size: 1.3rem;
    max-width: 40rem; }

  .container1 .input1 {
    flex-direction: row;
    justify-content: flex-start; }

  .container1 .input1 .input_container2 {
    margin-top: 0rem; }

  .container1 .input1 .input_container {
    margin-bottom: 0rem;
    border-right: 1px solid #cccccc; }

  .container1 .input1 .input_container input {
    width: 10rem; }

  .container1 .input1 button {
    margin: 0%; }

  .container2 {
    padding-left: 6%;
    padding-top: 3%; }

  .container2 h2 {
    text-align: left;
    font-size: 2.2rem; }

  .container2 p {
    text-align: left;
    font-size: 1.3rem; }

  .container2 .screen_container .button_container {
    align-items: center;
    padding-left: 4%; }

  .container2 .screen_container .button_container button {
    align-self: flex-start;
    width: 80%;
    height: 7rem;
    max-width: 30rem; }

  .container2 .screen_container .button_container .content .number {
    font-size: 27px; }

  .container2 .screen_container .button_container .content .head {
    font-size: 25px; }

  .container2 .screen_container .image_container {
    padding-right: 4%;
    display: block; }

  .container2 .screen_container .button_container .para {
    display: none; }

  .container2 .screen_container .image_container img {
    width: 27rem;
    height: 27rem;
    min-width: 90%; }

  .container3 {
    padding-top: 3%;
    padding-left: 6%; }

  .container3 h2 {
    text-align: left;
    font-size: 2.2rem; }

  .container3 p {
    text-align: left;
    font-size: 1.3rem; }

  .container3 .images {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; }

  .container3 .images .img_container img {
    object-fit: cover;
    max-height: 20rem; }

  .container4 {
    padding-top: 3%;
    padding-left: 6%; }

  .container4 h2 {
    text-align: left;
    font-size: 2.3rem; }

  .container4 p {
    text-align: left;
    font-size: 1.3rem; }

  .container5 {
    padding-top: 3%;
    padding-left: 6%; }

  .container4 .images {
    display: grid;
    grid-template-columns: 50% 50%; }

  .container5 h2 {
    text-align: left;
    font-size: 2.3rem; }

  .container5 p {
    text-align: left;
    font-size: 1.3rem; }

  .container5 .logos_container {
    grid-template-columns: auto auto auto auto auto auto;
    grid-column-gap: 3rem; }

  /* .container6{
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      padding-left: 7%;
      padding-right: 7%;
  }
  .container6 .text{
      text-align: left;
  } */ }
.input1 .input_container {
  position: relative; }
  .input1 .input_container .list {
    position: absolute;
    top: 3rem;
    left: 0;
    height: 18rem; }
    .input1 .input_container .list li, .input1 .input_container .list .locations {
      background: darkgray;
      color: #273d66;
      width: 14.5rem;
      display: none;
      padding: .5rem .5rem;
      border-bottom: 1px solid #747171; }
      .input1 .input_container .list li:hover, .input1 .input_container .list .locations:hover {
        background: white; }
    .input1 .input_container .list .qwer {
      display: none; }

/*# sourceMappingURL=tvastra.css.map */
