<!DOCTYPE html>
<html>
  <head>
    <title>TVASTRA</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/index/reset.css" type="text/css" />
    <link rel="stylesheet" href="css/index/stylesheet.css" type="text/css" />

    <script src="https://use.fontawesome.com/898e5ca425.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Archivo"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Rubik:900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Serif"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
  </head>

  <body>
    <% include ./partials/common/header %>

    <main class="ss">
      <div class="intro">
        <h1>Find Affordable Healthcare</h1>
        <p>
          Join the thousands of others who have exercised their right to
          quality<br />
          healthcare at a price you can afford.
        </p>
        <div class="searchbar">
          <form class="searchform">
            <div class="location-search">
              <i class="fas fa-map-marker-alt location-marker"></i>
              <input type="text" name="city" placeholder="Location" />
            </div>
            <div class="doctor-search">
              <input
                type="text"
                name="city"
                placeholder="Search for doctors,hospitals and treatments"
              />
            </div>
            <button class="search-button">Search</button>
          </form>
        </div>
      </div>
    </main>

    <main class="howitwork">
      <h2>How it works</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
        ullamcorper suscipit lobortis nisl ut
      </p>
      <div class="section">
        <div class="section-a">
          <ul>
            <a href="#"
              ><li>
                <span class="number">01</span>
                <span class="text">Fix Consultation</span>
              </li></a
            >
            <a href="#">
              <li>
                <span class="number">02</span>
                <span class="text">Upload Medical Reports</span>
              </li></a
            >
            <a href="#">
              <li>
                <span class="number">03</span>
                <span class="text"> Consult with doctor</span>
              </li></a
            >
            <a href="#">
              <li>
                <span class="number">04</span>
                <span class="text"> Fix Surgery</span>
              </li></a
            >
            <a href="#"
              ><li>
                <span class="number">05</span>
                <span class="text">Hospital sent estimates</span>
              </li></a
            >
            <a href="#"
              ><li>
                <span class="number">06</span>
                <span class="text"> Payment</span>
              </li></a
            >
            <a href="#">
              <li>
                <span class="number">07</span>
                <span class="text"> Surgery Completed</span>
              </li></a
            >
          </ul>
        </div>
        <div class="section-b">
          <img class="work" src="images/How_it_Works-02.png" />
          <span class="workdetail"
            ><h3>Fix Consultation</h3>
            <p>
              This depicts that user will have to fix appointment<br />
              first when it selects a particular doctor
            </p></span
          >
        </div>
      </div>
    </main>
    <aside>
      <p class="ahead">World class expert doctors!</p>
      <p class="ades">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
        ullamcorper suscipit lobortis nisl ut
      </p>

      <div class="docdes">
        <div class="doc1">
          <div class="doc1">
            <img class="image1" src="images/Female-Doctor-PNG-Free-Download.png" />
          </div>
          <div class="doc1des">
            <div class="doc1des1">
              <p class="none"></p>
              <p class="docname">Charlie Moon</p>
            </div>
            <p class="docspec">
              Cardiac Surgeon<br />
              MBBS,MD,FRCP,MRCP,Fellowship<br />
              New Delhi, India
            </p>
            <div class="borderfooter"></div>
          </div>
        </div>
        <div class="doc1">
          <div class="doc1image">
            <img class="image1" src="images/istockphoto-830343990-612x612.jpg" />
          </div>
          <div class="doc1des">
            <div class="doc1des1">
              <p class="none"></p>
              <p class="docname">Charlie Moon</p>
            </div>
            <p class="docspec">
              Cardiac Surgeon<br />
              MBBS,MD,FRCP,MRCP,Fellowship<br />
              New Delhi, India
            </p>
            <div class="borderfooter"></div>
          </div>
        </div>
        <div class="doc1">
          <div class="doc1image"><img class="image1" src="images/abc.png" /></div>
          <div class="doc1des">
            <div class="doc1des1">
              <p class="none"></p>
              <p class="docname">Charlie Moon</p>
            </div>
            <p class="docspec">
              Cardiac Surgeon<br />
              MBBS,MD,FRCP,MRCP,Fellowship<br />
              New Delhi, India
            </p>
          </div>
          <div class="borderfooter"></div>
        </div>
        <div class="doc1">
          <div class="doc1image">
            <img class="image1" src="images/gettyimages-468613710-612x612.jpg" />
          </div>
          <div class="doc1des">
            <div class="doc1des1">
              <p class="none"></p>
              <p class="docname">Charlie Moon</p>
            </div>
            <p class="docspec">
              Cardiac Surgeon<br />
              MBBS,MD,FRCP,MRCP,Fellowship<br />
              New Delhi, India
            </p>
            <div class="borderfooter"></div>
          </div>
        </div>
      </div>
      <i class="fas fa-circle next_page1"></i>
      <i class="fas fa-circle next_page"></i>
      <i class="fas fa-circle next_page"></i>
      <i class="fas fa-circle next_page"></i>
    </aside>
    <section class="features">
      <p class="feature1">Featured Medical Treatments</p>
      <p class="feature2">
        Lorem ipsum dolor sit amet, consectetuer adipiscrper suscipit lobortis
        nisl ut
      </p>
      <div class="sec-item1">
        <div class="secelement1">
          <div class="element_descrip">
            <h3>Dentistry</h3>
            <p>50+ Specialist</p>
          </div>
        </div>
        <div class="secelement2">
          <div class="element_descrip">
            <h3>Cancer</h3>
            <p>50+ Specialist</p>
          </div>
        </div>
        <div class="secelement3">
          <div class="element_descrip">
            <h3>Cardiology</h3>
            <p>50+ Specialist</p>
          </div>
        </div>
        <div class="secelement4">
          <div class="element_descrip">
            <h3>Multi Organ Transplant</h3>
            <p>50+ Specialist</p>
          </div>
        </div>
        <div class="secelement5">
          <div class="element_descrip">
            <h3>Orthopedics Surgery</h3>
            <p>50+ Specialist</p>
          </div>
        </div>
        <div class="secelement6">
          <div class="element_descrip">
            <h3>Infertility Treatment</h3>
            <p>50+ Specialist</p>
          </div>
        </div>
      </div>
      <i class="fas fa-circle next_page2"></i>
      <i class="fas fa-circle next_page"></i>
      <i class="fas fa-circle next_page"></i>
    </section>

    <section class="exclusive">
      <p class="e1">Exclusive Services</p>
      <p class="e2">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
        ullamcorper suscipit lobortis nisl ut
      </p>
      <div class="exitems">
        <div class="exitem1">
          <img src="images/Icons-01.png" />
          <p>TRAVEL</p>
        </div>
        <div class="exitem1">
          <img src="images/Icons-02.png" />
          <p>FOOD</p>
        </div>
        <div class="exitem3">
          <img src="images/Icons-03.png" />
          <p>ACCOMMODATION</p>
        </div>
        <div class="exitem1">
          <img src="images/Icons-07.png" />
          <p>LABS</p>
        </div>
        <div class="exitem1">
          <img src="images/Icons-10.png" />
          <p>REPORTS</p>
        </div>
        <div class="exitem1">
          <img src="images/Icons-12.png" />
          <p>OTHERS</p>
        </div>
      </div>
    </section>

    
    <% include ./partials/common/footer %>

  </body>
</html>
