<!DOCTYPE html>
<html>
  <head>
    <title>TVASTRA</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/index/reset.css" type="text/css" />
    <link rel="stylesheet" href="css/index/tvastra.css" type="text/css" />
    <link rel="stylesheet" href="css/index/nav.css" type="text/css" />
    <link rel="stylesheet" href="css/index/footer.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="css/index/stylesheet.css" type="text/css" /> -->
    
    <!-- <script src="https://use.fontawesome.com/898e5ca425.js"></script> -->
    <!-- <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    /> -->
    <!-- <link
      href="https://fonts.googleapis.com/css?family=Archivo"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Rubik:900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Serif"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    /> -->
  </head>

  <body>
    <% include ./partials/common/header %>

    <div class="container1">
        <h1>
            Find Affordable Healthcare
        </h1>
        <p>
            Join the thousands of others who have exercised their right to quality healthcare at a price you can afford.
        </p>
        <div class="input1">
            <div id='location_input' class="input_container">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <input type="text" id='location' onkeyup="makeList()"  placeholder="Ahmedabad">
                <img src="images/gps.png">
                
            </div>
            <div class="input_container2">
                <input type="text" placeholder="Search for doctors,hospitals and treatment">
            </div>
            <button> Search</button>
        </div>
    </div>
    <div class="container2">
        <h2>
            How it works
        </h2>
        <p>
            Various facilities are provided here. But there is a protocol which needs to followed so that you may get
            the service at its best.
        </p>
        <div class="screen_container">
            <div class="button_container">
                <button id="button1" onclick="myFunction2(this.id)" autofocus>
                    <div class="content">
                        <div class="number" id="number1">01</div>
                        <div class="head" id="head1">Fix Consultation</div>
                    </div>
                </button>
                <div class="para" id="para1"></div>
                <button id="button2" onclick="myFunction2(this.id)">
                    <div class="content">
                        <div class="number" id="number2">02</div>
                        <div class="head" id="head2">Upload Medical Reports</div>
                    </div>
                </button>
                <div class="para" id="para2"></div>
                <button id="button3" onclick="myFunction2(this.id)">
                    <div class="content">
                        <div class="number" id="number3">03</div>
                        <div class="head" id="head3">Consult with doctor</div>
                    </div>
                </button>
                <div class="para" id="para3"></div>
                <button id="button4" onclick="myFunction2(this.id)">
                    <div class="content">
                        <div class="number" id="number4">04</div>
                        <div class="head" id="head4">Fix Surgery</div>
                    </div>
                </button>
                <div class="para" id="para4"></div>
                <button id="button5" onclick="myFunction2(this.id)">
                    <div class="content">
                        <div class="number" id="number5">05</div>
                        <div class="head" id="head5">Hospital sent estimates</div>
                    </div>
                </button>
                <div class="para" id="para5"></div>
                <button id="button6" onclick="myFunction2(this.id)">
                    <div class="content">
                        <div class="number" id="number6">06</div>
                        <div class="head" id="head6">Payment</div>
                    </div>
                </button>
                <div class="para" id="para6"></div>
                <button id="button7" onclick="myFunction2(this.id)">
                    <div class="content">
                        <div class="number" id="number7">07</div>
                        <div class="head" id="head7">Surgery Completed</div>
                    </div>
                </button>
                <div class="para" id="para7"></div>
            </div>
            <div class="image_container" id="image_container_id">
            </div>
        </div>
    </div>
    <div class="container3">
        <h2>
            World class expert doctors!
        </h2>
        <p>The University of Texas Southwestern Medical Center has long been a world-renowned research hospital. But
            until the ’80s, you couldn’t go there. Now, with the addition of the Aston center and Zale Lipshy hospital,
            UT Southwestern is also a mecca for patient care.</p>
        <div class="images">
            <div class="img_container">
                <img src="images/image--002.jpg">
                <h3>Duke Sanson</h3>
                <p>Neuro Surgeon</p>
                <p>Chain Department of Neurological Surgery</p>
                <p>Australia</p>
            </div>
            <div class="img_container">
                <img src="images/image--004.jpg">
                <h3>Georgia Peter</h3>
                <p>Breast Cancer surgeon</p>
                <p>Director, UT Southwest</p>
                <p>London</p>
            </div>
            <div class="img_container">
                <img src="images/image--005.jpg">
                <h3>Charlie Moon</h3>
                <p>Cardiac Surgeon</p>
                <p>MBBS,MD,FRCP,MRCP,Fellowship</p>
                <p>New Delhi, India</p>
            </div>
            <div class="img_container">
                <img src="images/image--003.jpg">
                <h3>Rose Moon</h3>
                <p>Plastic Surgeon</p>
                <p>Department of Plastic and Reconstructive Surgery</p>
                <p>Dubai</p>
            </div>
        </div>
    </div>
    <div class="container4">
        <h2>
            Featured Medical Treatments
        </h2>
        <p>
            The hospital provides various medical treatments done by our expert doctors. Your health is our priority.
        </p>
        <div class="images">
            <div class="img_container image-1">

                <h4>Cancer</h4>
                <p>50+ Specialists</p>
            </div>
            <div class="img_container image-2">
                <h4>Dentistry</h4>
                <p>20+ Specialists</p>
            </div>
            <div class="img_container image-3">
                <h4>Orthopedics Surgery</h4>
                <p>10+ Specialists</p>
            </div>
            <div class="img_container image-4">
                <h4>Cardiology Treatment</h4>
                <p>50+ Specialists</p>
            </div>
            <div class="img_container image-5">
                <h4>Infertility Treatment</h4>
                <p>40+ Specialists</p>
            </div>
        </div>
    </div>
    <div class="container5">
        <h2>
            Exclusive Services
        </h2>
        <p>
            We want you to be comfortable and thus apart from treating your illness, we provide you with other services
            that can ease you.
        </p>
        <div class="logos_container">
            <div class="element">
                <button><img src="images/Icons-01.png">
                    <p>Travel</p>
                </button>
            </div>
            <div class="element">
                <button><img src="images/Icons-02.png">
                    <p>Food</p>
                </button>

            </div>
            <div class="element">
                <button><img src="images/Icons-03.png">
                    <p>Accommodation</p>
                </button>

            </div>
            <div class="element">
                <button><img src="images/Icons-07.png">
                    <p>Labs</p>
                </button>

            </div>
            <div class="element">
                <button><img src="images/Icons-10.png">
                    <p>Reports</p>
                </button>

            </div>
            <div class="element">
                <button><img src="images/Icons-06.png">
                    <p>Ambulance</p>
                </button>

            </div>
        </div>
    </div>

    
    <% include ./partials/common/footer %>

  </body>
  <script>
      var img = [];
      img[0] = "/images/img1.png";
      img[1] = "/images/img2.png";
      img[2] = "/images/img3.jpeg";
      img[3] = "/images/img4.jpeg";
      img[4] = "/images/img5.jpg";
      img[5] = "/images/img6.jpg";
      img[6] = "/images/img7.jpeg";
      var heading = [];
      heading[0] = "Fix Consultation";
      heading[1] = "Upload Medical Reports";
      heading[2] = "Consult with doctor";
      heading[3] = "Fix Surgery";
      heading[4] = "Hospital sent estimates";
      heading[5] = "Payment";
      heading[6] = "Surgery completed";
      var content = [];
      content[0] = "This depicts that user will have to fix appointment first when it selects a particular doctor.";
      content[1] = "This depicts that user will have to upload the medical reports of their medical history if any.";
      content[2] = "This depicts that user can then visit the doctor and take the prescription as per their case.";
      content[3] = "This depicts that user will be given an appointment for the surgery if applicable according to the preference of the patient as well as doctor";
      content[4] = "This depicts that we will be providing user with the estimated bill which he will have to pay during of after the treatment";
      content[5] = "This depicts that user need to pay the amount for the treatment.";
      content[6] = "This depicts that the patient is now all fine and the treatment is over.";
      var a = document.getElementById('para1');
      console.log(document.getElementsByClassName('para'))
      a.innerHTML = "<img src='" + img[0] + "'> <h2>" + heading[0] + "</h2> <p>" + content[0] + "</p>";
      document.getElementById('image_container_id').innerHTML = "<img src='" + img[0] + "'> <h2>" + heading[0] + "</h2> <p>" + content[0] + "</p>";
      function myFunction2(id) {
          var sub = id.substr(id.length - 1);
          var x = document.getElementById("para" + sub);
          var image_id = document.getElementById('image_container_id');
          var comp = getComputedStyle(image_id, null)
          if (comp.display === 'block') {
              document.getElementById('image_container_id').innerHTML = "<img src='" + img[sub - 1] + "'> <h2>" + heading[sub - 1] + "</h2> <p>" + content[sub - 1] + "</p>";
          }
          else {
              if (x.style.display === "flex") {
                  x.style.display = "none";
              }
              else {
                  for (let i = 1; i < 8; i++) {
                      if (i != x) {
                          let d = document.getElementById('para' + i);
                          d.style.display = 'none';
                      }
                  }
                  x.style.display = "flex";
                  x.style.flexDirection = "column";
                  x.innerHTML = "<img src='" + img[sub - 1] + "'> <h2>" + heading[sub - 1] + "</h2> <p>" + content[sub - 1] + "</p>";
  
  
              }
          }
      }        


function makeList() {
    // Establish the array which acts as a data source for the list
    let listData = [
        'Blue',
        'Red',
        'White',
        'Green',
        'Black',
        'Orange'
    ]
    // Make a container element for the list
    let listContainer = document.createElement('div');
    listContainer.classList.add('list');
    
    // Make the list
    let listElement = document.createElement('ul')
    // Set up a loop that goes through the items in listItems one at a time
    let numberOfListItems = listData.length
    let listItem;
    let i;

    // Add it to the page
    document.getElementById('location_input').appendChild(listContainer);
    listContainer.appendChild(listElement);

    for (i = 0; i < numberOfListItems; ++i) {
        // create an item for each one
        listItem = document.createElement('li');
        listItem.classList.add('locations');

        // Add the item text
        listItem.innerHTML = listData[i];

        // Add listItem to the listElement
        listElement.appendChild(listItem);
    }
    let input = document.getElementById('location').value 
    input=input.toLowerCase(); 
    let x = document.getElementsByClassName('locations'); 
      
    for (i = 0; i < x.length; i++) {  
        if (!x[i].innerHTML.toLowerCase().includes(input)) { 
            x[i].style.display="none"; 
        } 
        else { 
            x[i].style.display="block";                  
        } 
    } 
}

let location_input = document.getElementById('location');

location_input.addEventListener('focusin', (event) => {
  event.target.style.background = '';    
});

location_input.addEventListener('focusout', (event) => {
    console.log('random');
//   document.getElementsByClassName('list').style.display = 'none';
  var elems = document.getElementsByClassName('locations');
for (var i=0;i<elems.length;i+=1){
  elems[i].style.display = 'none';
}

location_input.value='';

});

  </script>
  
</html>
