<!DOCTYPE html>
<html>

<head>
    <title>TVASTRA</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/index/reset.css" type="text/css" />
    <link rel="stylesheet" href="css/services/services.css" type="text/css" />
    <link rel="stylesheet" href="css/index/nav.css" type="text/css" />
    <link rel="stylesheet" href="css/index/footer.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <% include ./partials/common/header %>
    <div class="container5">
        <h2>
            Exclusive Services
        </h2>
        <p>
            We want you to be comfortable and thus apart from treating your illness, we provide you with other services
            that can ease you.
        </p>
        <div class="logos_container">
            <div class="element">
                <button><img src="images/Icons-01.png">
                    <p>Travel</p>
                </button>
            </div>
            <div class="element">
                <button><img src="images/Icons-02.png">
                    <p>Food</p>
                </button>

            </div>
            <div class="element">
                <button><img src="images/Icons-03.png">
                    <p>Accomodation</p>
                </button>

            </div>
            <div class="element">
                <button><img src="images/Icons-07.png">
                    <p>Labs</p>
                </button>

            </div>
            <div class="element">
                <button><img src="images/Icons-10.png">
                    <p>Reports</p>
                </button>

            </div>
            <div class="element">
                <button><img src="images/Icons-06.png">
                    <p>Ambulance</p>
                </button>

            </div>
        </div>
    </div>
    <% include ./partials/common/footer %>
</body>


</html>