
<!DOCTYPE html>
<html>
  <head>
    <title>TVASTRA</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../css/index/reset.css" type="text/css" />
    <link rel="stylesheet" href="../css/index/stylesheet.css" type="text/css" />

    <script src="https://use.fontawesome.com/898e5ca425.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Archivo"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Rubik:900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Serif"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
  </head>

  <body>
    <% include ./partials/common/header %>


    <% include ./partials/auth/_signin %>
    
    <% include ./partials/common/footer %>

  </body>
</html>
