<section class="help">
  <div class="help1">
    <p class="help11">Need Help?</p>
    <p class="help22">Just let us know. We will be happy to assist you</p>
  </div>
  <div class="help2">
    <button>Submit your enquiry</button>
  </div>
</section>

<footer>
  <div class="left">
    <div class="nav">
      <ul>
        <li>Doctors</li>
        <li>Hospitals</li>
        <li>Treatment</li>
        <li>Other Services</li>
        <li>FAQs</li>
      </ul>
    </div>
    <p>All Rights Reserved. © tvastra 2019</p>
  </div>
  <div class="right">
    <div class="right-top"><p>TVASTRA</p></div>
    <div class="right-bottom">
      <div class="bottom1"></div>
      <div class="bottom2"></div>
      <div class="bottom3">
        <div class="word-spacing">
          <i class="fab fa-facebook-f icon_social"></i>
        </div>
        <div class="word-spacing">
          <i class="fab fa-pinterest-p icon_social"></i>
        </div>
        <div class="word-spacing">
          <i class="fab fa-twitter icon_social"></i>
        </div>
        <div class="word-spacing">
          <i class="fab fa-google-plus-g icon_social"></i>
        </div>
        <div class="word-spacing">
          <i class="fab fa-instagram icon_social"></i>
        </div>
      </div>
    </div>
  </div>
</footer>
