<header>
  <div class="nav-container">
    <div class="item1">
      <p>TVASTRA</p>
    </div>
    <div class="item2">
      <ul>
        <a href="/doctors"> <li>Doctors</li></a>
        <a href="/hospitals"> <li>Hospitals</li></a>
        <a href="#"><li>Treatment</li></a>
        <a href="#"><li>Other Services</li></a>
        <a href="#"><li>About</li></a>
      </ul>
    </div>
    <div class="item3">
        <a href="/auth/signin"><button class="login"><span>Login / Signup</span></button></a>
      <button class="getaquote"><span>Get a Quote</span></button>
    </div>
  </div>
</header>
