<header>
  <nav>
    <a href="/" class="logo"><img src="images/Logo.jpg"></a>
    <div class="menu">
      <button onclick="myFunction()"><i class="fa fa-bars" aria-hidden="true"></i></button>
    </div>
    <!-- <div class="menu2"> -->
    <div class="menu_options">
      <a href="/doctors">Doctors</a>
      <a href="/hospitals">Hospitals</a>
      <a href="/treatments">Treatments</a>
      <a href="/services">Other Services</a>
      <a href="#">About</a></li>
    </div>
    <div class="menu_options2">
      <button>Login / SignUp</button>
      <button style="background-color: #021433; color:white">Get a Quote</button>
    </div>
    <!-- </div> -->

  </nav>
  <div id="link">

    <ul type="none">
      <li><a href="/doctors">Doctors</a></li>
      <li><a href="/hospitals">Hospitals</a></li>
      <li><a href="/treatments">Treatment</a></li>
      <li><a href="/services">Other Services</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Login</a></li>
    </ul>

  </div>
  <script>
    function myFunction() {
      var x = document.getElementById("link");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
  </script>
</header>